@import "../App/variables.scss";

.newEventButton {
  position: fixed;
  right: 16px;
  bottom: 16px;

  @media (min-width: $tablet-min-width) {
    right: 32px;
    bottom: 32px;
  }

  &__icon {
    width: 56px;
    height: 56px;
    fill: $font-dark-color;
  }
}
