.newEventButton {
  position: fixed;
  right: 16px;
  bottom: 16px; }
  @media (min-width: 640px) {
    .newEventButton {
      right: 32px;
      bottom: 32px; } }
  .newEventButton__icon {
    width: 56px;
    height: 56px;
    fill: #323c46; }
