{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0, // No, JSX belongs to .js files.
    "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
    "no-use-before-define": 0
  }
}
