{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0 // No, JSX belongs to .js files.
  }
}
