.button {
  font-family: Hind;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block; }
  .button--normal {
    width: 100px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 1px; }
  .button--large {
    width: 240px;
    height: 57px;
    line-height: 57px;
    font-size: 16px;
    letter-spacing: 1px; }
  .button--green {
    background-color: #22d486;
    color: #ffffff; }
  .button--green:hover {
    background-color: #20be78; }
  .button--grey {
    background-color: #d9dce1;
    color: #a9aeb4; }
  .button--grey:hover {
    background-color: #c4c9d1; }
  .button--red {
    background-color: #ff4081;
    color: #ffffff; }
  .button--red:hover {
    background-color: #e73370; }
