$font-color: #949ea8;
$element-background-color: #d9dce1;
$link-color: #9ca5af;
$font-dark-color: #323c46;
$page-background-color: #f9f9fb;

$white-color: #ffffff;
$green-color: #22d486;
$green-dark-color: #20be78;
$grey-color: #d9dce1;
$grey-dark-color: #c4c9d1;
$red-color: #ff4081;
$red-dark-color: #e73370;

$tablet-min-width: 640px;
$desktop-min-width: 1024px;
