.pageHeader__container {
  display: flex;
  justify-content: space-between;
  padding: 24px; }
  @media (min-width: 640px) {
    .pageHeader__container {
      padding: 32px; } }

.pageHeader__item {
  display: flex;
  align-items: center;
  min-width: 80px; }
  @media (min-width: 640px) {
    .pageHeader__item {
      min-width: 100px; } }

.pageHeader__logo {
  display: inline-block;
  width: 22px;
  height: 23px;
  background: url(../../images/logo.svg) no-repeat;
  background-size: 22px 23px; }
  @media (min-width: 640px) {
    .pageHeader__logo {
      width: 28px;
      height: 29px;
      background-size: 28px 29px; } }
  .pageHeader__logoLink {
    display: inline-flex; }

.pageHeader__name {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: right;
  color: #949ea8;
  position: relative;
  bottom: -1px; }

.pageHeader__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #d9dce1;
  font-size: 11.2px;
  font-weight: 500;
  line-height: 1;
  color: #949ea8; }
  @media (min-width: 640px) {
    .pageHeader__circle {
      width: 40px;
      height: 40px;
      font-size: 14px; } }

.pageHeader__arrowDown {
  margin-left: 6px;
  color: #d9dce1;
  width: 14px;
  height: 7px;
  background: url(../../images/arrowHeader.svg) no-repeat;
  background-size: 14px 7px;
  cursor: pointer; }

.pageHeader__menu {
  display: none;
  margin: 0;
  padding: 16px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 70px;
  box-sizing: border-box;
  width: 162px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  list-style-type: none; }
  @media (min-width: 640px) {
    .pageHeader__menu {
      top: 80px; } }
  .pageHeader__menu::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -13px;
    right: 18px; }
  .pageHeader__menuContainer {
    display: flex;
    margin-left: auto;
    align-items: center; }
  .pageHeader__menu--active {
    display: block; }

.pageHeader__menuItem {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71; }

.pageHeader__menuLink {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #9ca5af; }

.pageHeader__menuLink:hover, .pageHeader .menuLink:active {
  color: #323c46; }
