@import "../App/variables.scss";
@import "../App/flexboxgrid.scss";

.event {
  position: relative;

  &--block {
    @extend .col-xs-12, .col-sm-6, .col-md-4;
    margin-bottom: 16px;
  }

  &__content {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    padding: 24px;
    background-color: $white-color;

    @media (min-width: $tablet-min-width) {
      padding: 32px;
    }
  }

  &__date {
    font-size: 14px;
    line-height: 1.71;
    color: #cacdd0;
    height: 24px;
  }

  &__title {
    font-size: 22px;
    line-height: 2.18;
    color: $font-dark-color;
    text-decoration: none;
    margin: 10px 0 -5px;
    font-weight: normal;
    height: 43px;

    &:hover {
      color: $link-color;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 1.71;
    color: #7d7878;
    margin-bottom: 32px;
    height: 24px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    color: $font-color;
    height: 48px;
    margin-bottom: 40px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 24px;
    }
  }

  &__attendees {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: $font-color;
  }

  &__count {
    margin-left: 8px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
  }

  &__user {
    fill: $font-color;
    width: 16px;
    height: 16px;
  }
}

.eventList {
  @extend .col-xs-12;
  margin-bottom: 16px;
  position: relative;

  &__content {
    @extend .event__content;
    padding: 16px;

    @media (min-width: $tablet-min-width) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 32px;
      min-height: 32px;
    }
  }

  &__date {
    @extend .event__date;
    margin-top: 8px;

    @media (min-width: $tablet-min-width) {
      width: 15%;
      margin-top: 0;
      line-height: 1;
      padding-right: 10px;
      height: initial;
    }
  }

  &__title {
    @extend .event__title;
    font-size: 18px;
    line-height: 2.67;
    margin: -12px 0 -7px;

    @media (min-width: $tablet-min-width) {
      width: 25%;
      line-height: 1;
      padding-right: 10px;
      word-wrap: break-word;
      margin: 0;
      height: initial;
    }
  }

  &__titleLink {
    @extend .event__title;
    font-size: 18px;
    line-height: 2.67;
    margin: -12px 0 -7px;

    @media (min-width: $tablet-min-width) {
      line-height: 1;
      margin: 0;
      align-items: center;
      display: flex;
      height: initial;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 1.71;
    color: #7d7878;

    @media (min-width: $tablet-min-width) {
      width: 11%;
      line-height: 1;
      padding-right: 10px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    color: $font-color;

    @media (min-width: $tablet-min-width) {
      width: 24%;
      line-height: 1;
      padding-right: 10px;
      word-wrap: break-word;
    }
  }

  &__attendees {
    font-size: 14px;
    line-height: 1.71;
    color: #949ea8;

    @media (min-width: $tablet-min-width) {
      width: 12%;
      line-height: 1;
    }
  }

  &__count {
    margin-left: 8px;
  }

  &__button {
    position: absolute;
    bottom: 24px;
    right: 24px;

    @media (min-width: $tablet-min-width) {
      position: static;
      width: 9%;
      min-width: 100px;
      margin-left: auto;
    }
  }
}
