@import "../App/variables.scss";
@import "../App/flexboxgrid.scss";

.eventNew {
  &__form {
    @extend .row;
    margin: 0 auto;
    min-width: 300px;
    max-width: 480px;
  }

  &__content {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    background-color: $white-color;
    padding: 16px;
    margin: 0 8px;
    width: 100%;

    @media (min-width: $tablet-min-width) {
      padding: 32px;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 2.18;
    text-align: center;
    color: $font-dark-color;
    margin: 0;
    font-weight: normal;

    @media (min-width: $tablet-min-width) {
      font-size: 28px;
      line-height: 1.71;
      margin-top: 10px;
    }
  }

  &__hint {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: $font-color;
    margin: 0 0 15px;
    font-weight: normal;

    @media (min-width: $tablet-min-width) {
      font-size: 18px;
      line-height: 1.33;
      margin-bottom: 30px;
    }
  }

  &__button {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 8px;

    @media (min-width: $tablet-min-width) {
      margin-top: 40px;
    }
  }

  &__close {
    margin-left: auto;

    &Icon {
      width: 14px;
      height: 14px;
    }

    &Link {
      font-size: 16px;
      color: $font-dark-color;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    &Text {
      height: 24px;
      margin-left: 12px;
    }
  }
}
